./coffeemode_backend/.idea
./coffeemode_backend/.vscode
./coffeemode_backend/.env
./coffeemode_backend/.env.local
./coffeemode_backend/.env.development
./coffeemode_backend/.env.production


./coffeemode-frontend/.idea
./coffeemode-frontend/.vscode
./coffeemode-fronte nd/.env
./coffeemode-frontend/.env.local
./coffeemode-frontend/.env.development
./coffeemode-frontend/.env.production


./coffeemode-frontend/node_modules
./coffeemode-frontend/dist
./coffeemode-frontend/build
./coffeemode-frontend/public/js/mapsJavaScriptAPI.js
./coffeemode-frontend/public/js/mapsJavaScriptAPI.js.map
./coffeemode-frontend/public/js/mapsJavaScriptAPI.js.map.gz
./coffeemode-frontend/public/js/mapsJavaScriptAPI.js.map.gz.map



./coffeemode-script/.idea
./coffeemode-script/.vscode
./coffeemode-script/.env
./coffeemode-script/.env.local
./coffeemode-script/.env.development
./coffeemode-script/.env.production


./coffeemode-script/coffeemode-image/node_modules
./coffeemode-script/coffeemode-image/dist
./coffeemode-script/coffeemode-image/build
./coffeemode-script/coffeemode-image/public/js/mapsJavaScriptAPI.js
./coffeemode-script/coffeemode-image/public/js/mapsJavaScriptAPI.js.map
./coffeemode-script/coffeemode-image/public/js/mapsJavaScriptAPI.js.map.gz
./coffeemode-script/coffeemode-image/public/js/mapsJavaScriptAPI.js.map.gz.map